﻿@using MainWork.ViewModel;
@using MainWork.Models;

@{
    Layout = null;
    //if (Session[CDictionary.SK_ACCOUNT] != null || Session[CDictionary.SK_ACCOUNT].ToString()!="")
    //{
    //    Response.Redirect("~/Album/Index/");
    //}
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<style>
        * {
        background-color: black;
        color: white;
    }

    .box {
        font-family: "微軟正黑體";
        margin: 0 auto;
        max-width: 450px;
        text-align: center;
    }

    .form-input-password {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .loingBtn {
        width: 20%;
        padding: 5px;
        margin: auto;
        background-color: #1db954;
        border-radius: 15px;
        cursor: pointer;
        color: white;
        text-align: center;
        transition: 0.4s;
    }

        .loingBtn:hover {
            background-color: #1dd15d;
        }
</style>

<div class="box">
    @using (Html.BeginForm("_LineLogin", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        //防止網站被攻擊的防護，但目前會報錯先註解
        @*@Html.AntiForgeryToken();*@
        <h2>用戶登入</h2>
        <div class="col-xs-12">
            <input type="text" name="txtAccount" placeholder="用戶名稱" class="form-control " value="">
        </div>
        <div class="form-input-password">
            <input type="password" name="txtPassword" placeholder="密碼" class="form-control " value="">
        </div>
        <div class="loingBtn">登入</div>
    }
</div>

<script>$(".loingBtn").click(function () {
        $("form").submit();
    })</script>

