﻿
@{
    ViewBag.Title = "AfterLineLogin";
    Layout = null;
}

@if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.error)))
{
    <h1>@ViewBag.error</h1>
    <h2>@ViewBag.error_description</h2>
}


@if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.user)))
{
    <script type="text/javascript">window.onload = function () {
        //Line登入成功後回傳字串給容器,容器收到後自動關閉
        window.opener.document.getElementById("LineLoginresult").innerHTML = "success";

          //      window.opener.access_token = "Html.Raw(ViewBag.access_token)";
                window.close();
        }</script>
}