@using MusicPrj.ViewModel;
@using MusicPrj.Models;

@{
    Layout = null;
    //if (Session[CDictionary.SK_ACCOUNT] != null || Session[CDictionary.SK_ACCOUNT].ToString()!="")
    //{
    //    Response.Redirect("~/Album/Index/");
    //}
}

<style>
    .box {
        font-family: "微軟正黑體";
        margin: 0 auto;
        max-width: 450px;
        text-align: center;
    }

    .form-input-password {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .loingBtn {
        width: 20%;
        padding: 5px;
        margin: auto;
        background-color: #1db954;
        border-radius: 15px;
        cursor: pointer;
        color: white;
        text-align: center;
        transition: 0.4s;
    }

        .loingBtn:hover {
            background-color: #1dd15d;
        }
</style>

<div class="box">
    @using (Html.BeginForm("Login", "MemberLogin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        //防止網站被攻擊的防護，但目前會報錯先註解
        @*@Html.AntiForgeryToken();*@
        <h2>用戶登入</h2>
        <div class="col-xs-12">
            <input type="text" name="txtAccount" placeholder="用戶名稱" class="form-control " value="">
        </div>
        <div class="form-input-password">
            <input type="password" name="txtPassword" placeholder="密碼" class="form-control " value="">
        </div>
        <div class="loingBtn">登入</div>
    }
    <div>
        <a onclick="openPopupWindow()">
            點我Line Login
        </a>
    </div>
    <div id="LineLoginresult"></div>
</div>

<script>
    $(".loingBtn").click(function () {
        $("form").submit();
    })
</script>
<script type="text/javascript">
        let LineLoginUrl = "@Url.Action("GetLineLoginUrl","MemberLogin")";
    let RevokeLineLoginUrl = "@Url.Action("RevokeLineLoginUrl","MemberLogin")";

    $("body").on('DOMSubtreeModified', "#LineLoginresult", function () {
                 setTimeout(function () {
                    $("#modal").removeClass("fadein");
                    $("#modalContent").removeClass("fadein");
                }, 10)
                setTimeout(function () {
                    $("#modal").css("display", "none");
                }, 500)
                window.location.href = "@Url.Action("Main","Homepage")"
    });

    function openPopupWindow() {
        $("#result").html("");//清空顯示結果
        //另開popup window前，每次都取得新的LineLoginUrl(每次Url的state參數都不一樣)
        $.ajax({
            url: LineLoginUrl,
            method: "get",
            success: function (url) {
                window.open(url, "_blank", "width=800px,height=600px");
            }, error: function (xhr) {
                console.log(xhr);
            }
        });
    }
</script>
