<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b1ce4ec2-2a8d-4a4a-b725-d12f59f0c755/resourceGroups/MSIT125/providers/Microsoft.Web/sites/SpiderFly</ResourceId>
    <ResourceGroup>MSIT125</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spiderfly.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spiderfly.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SpiderFly</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SpiderFly</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbProjectMusicStoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:spiderfly.database.windows.net,1433;Initial Catalog=dbProjectMusicStore;Persist Security Info=False;User ID=wearethebest;Password=ZO4T961j4dk3b06;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MainWork.dbProjectMusicStoreEntities, MainWork" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbTestEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MainWork.dbTestEntities, MainWork" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbTestEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="dbProjectMusicStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/dbMusicStore.csdl|res://*/dbMusicStore.ssdl|res://*/dbMusicStore.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:spiderfly.database.windows.net,1433;Initial Catalog=dbProjectMusicStore;Persist Security Info=False;User ID=wearethebest;Password=ZO4T961j4dk3b06;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>