
<style>
    .modalMonthly {
        display:block;
        position: relative;
        top: 10%;
        width: 30%;
        padding: 20px;
        background-image: linear-gradient(to right, #1587dd,#651ea4, #2c2135);
        border-radius: 20px;
        margin: auto;
        text-align:center;
        transition: 0.3s;
        opacity: 0;
    }
    .imgBox > img{
        display: inline-block;
        width: 255px;
        height: 90px;
        margin:auto;
        background-size: cover;
    }
        .modalMonthly.fadein {
            top: 20%;
            opacity: 1;
        }
        .paypal-button-text{
            color:white;
        }
</style>

<div class="modalMonthly">
    <div class="imgBox mb-3"><img src="~/Images/spiderfly.png" /></div>
    <div class="h5">喜歡這裡的音樂嗎?</div>
    <div class="h5">只要月付NT$299就能無限暢聽SpiderFly的所有音樂!</div>
    <div class="h5">趕快來建立屬於你個人的播放清單吧!</div>

    <div id="paypalMonthlyPay" class="mt-3"></div>
</div>

<script>
    paypal.Buttons({
        style: {
            layout: 'horizontal',
            color: 'blue',
            shape: 'pill',
            label: 'paypal',
            tagline: 'false',
        },
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value:299
                    }
                }]
            });
        },
        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            }).then($.post("@Url.Action("BuyCheck", "tShoppingCart")", { "shopcarid": shopcarid ,"ajax":true},
                    function (data) { console.log(data)}));
        }
    }).render('#paypalMonthlyPay')
    $(".paypal-button-text").css("display", "none");
</script>