@model IEnumerable<MainWork.tAlbum>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div>專輯名稱:@item.fAlbumName</div>
    <div>社團名稱:@item.fMaker</div>
    <div>專輯曲風:@item.fKinds</div>
    <div>========================================</div>
}
