@model IEnumerable<MainWork.ViewModels.CSearchResult>
 
    @foreach (var item in Model)
    {
        <div>專輯名稱:@item.album.fAlbumName</div>
        <div>@item.product.fProductName</div>
        <div>========================================</div>
    }



