@model MainWork.tMember
@{
    Layout = null;
}

<link href="~/css/font-face.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Vendor CSS-->
<link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
<link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
<link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
<link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

<!-- FullCalendar -->
<link href='~/vendor/fullcalendar-3.10.0/fullcalendar.css' rel='stylesheet' media="all" />

<link href="~/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/css/theme.css" rel="stylesheet" media="all">

<style>
    #register {
        padding: 20px 10px;
    }
</style>

<form action="@Url.Action("New","MemberLogin")" method="post" id="LoginForm">
    <div>
        <div>
            <div id="register">
                <div class="login-logo">
                    <div class="h2">會員註冊</div>
                    @*<img src="images/logo.png" alt="CoolAdmin">*@
                </div>
                <div class="login-form">
                    <div class="form-group">
                        <label>帳號</label>
                        <input class="au-input au-input--full" type="text" name="fAccount" id="accountlogin" placeholder="Username">
                        <span id="spac"></span>
                    </div>
                    <div class="form-group">
                        <label>信箱</label>
                        <input class="au-input au-input--full" type="email" name="fEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>密碼</label>
                        <input class="au-input au-input--full" type="password" name="fPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>暱稱</label>
                        <input class="au-input au-input--full" type="text" name="fNickName" placeholder="NickName" />
                    </div>
                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">註冊</button>
                </div>
            </div>
        </div>
    </div> 
</form>

<script>
    var myAc = document.querySelector('#spac');
    var myNickname = document.querySelector('#spname');

    var xhr = null;

    // Account
    var textAc = document.querySelector('#accountlogin');
    textAc.addEventListener("keyup", function () {

        xhr = new XMLHttpRequest();

        var formData = new FormData($("#LoginForm")[0]);
        xhr.open('POST', '/MemberLogin/LoginCheck');
        xhr.send(formData);

        xhr.addEventListener('load', function () {
            var data = xhr.responseText;
            myAc.innerHTML = "<span>" + data + "</span>";
        })
    })
    $(".logon").click(function () {
        //這邊應該要先ajax事前判斷帳號是否被註冊
        //沒有被註冊的帳號才允許submit
        $("form").submit();
    })
</script>
