@using MainWork.Models;

@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<style>
    #calendar{
        width:60%;
        height:40%;
    }
</style>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="au-card">
                    <div id="calendar"></div>
                </div>
            </div><!-- .col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>


