@using MainWork.Models;

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    var account = "";

    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        Response.Redirect("~/Admin/login/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
        if (account != "aaa")
        {
            Response.Redirect("~/Admin/login/");
        }
        else
        {

        }
    }
}


<div>
    <div class="h3">待審核的專輯</div>
    <table>
        <thead>
            <tr>
                <th>日期</th>
                <th>音樂名稱</th>
                <th>歌手</th>
                <th>作曲</th>
                <th>編曲</th>
                <th>作詞</th>
                <th>曲風</th>
                <th>時間</th>
                <th>價格</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div>
    <div class="h3">未讀的訊息</div>

</div>
