@using MainWork.Models;

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    var account = "";

    if (Session[CDictionary.SK_ACCOUNT] == null || string.IsNullOrWhiteSpace(Session[CDictionary.SK_ACCOUNT].ToString()))
    {
        Response.Redirect("~/Admin/login/");
    }
    else
    {
        account = Session[CDictionary.SK_ACCOUNT].ToString();
        if (account != "aaa")
        {
            Response.Redirect("~/Admin/login/");
        }
        else
        {

        }
    }
}

<style>
    .panel {
        width: 40%;
        height: 90%;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin: 20px 60px;
        background-color: rgba(206, 226, 231, 0.30);
    }

    .title {
        font-weight: 800;
        font-size: 30px;
        margin: 20px 60px;
    }
</style>

<div class="title">舉辦中的活動</div>
<div class="panel">





</div>
<div class="title">進行中的活動</div>
<div class="panel">





</div>
<div class="title">待審查的音樂</div>
<div class="panel">





</div>
<script>
    $(".open").click(function () {
        $(this).parents("tr").siblings().slideToggle(1);
    })

    //表單內checkbox的處理
    $(".trItemMain").click(function (e) {
        let target = $(this).find("input[type = checkbox]")[0];
        let openBtn = $(this).find(".open")[0];
        if (e.target != target && e.target != openBtn) {
            target.checked = !target.checked;
        }
    })
    $(".all").click(function () {
        let target = $(this).find("input[type = checkbox]")[0];
        target.checked = !target.checked;
        if (target.checked) {
            $(this).parents("thead").siblings("tbody").find("input[type = checkbox]").prop("checked", true)
        }
        else {
            $(this).parents("thead").siblings("tbody").find("input[type = checkbox]").prop("checked", false);
        }
    })
    $(".all").find("input[type = checkbox]").click(function (e) {
        e.preventDefault();
        $(".all").trigger("click")
    })

</script>